{
  "presets": [
    [ "env", {
      "target": {
        "node": "current"
      }
    } ],
    "stage-2"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./"],
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
