version: '3'
services:
  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5671:5671"
      - "5672:5672"
      - "15671:15671"
      - "15672:15672"
  mongo:
    image: mongo
    ports:
      - "27017:27017"
