{
  "presets": [
    "env",
    "stage-2"
  ],
  "plugins": [
    ["module-resolver", {
      "root": ["./app"],
    }],
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }]
  ]
}
